@font-face {
    font-family: BebasNeue;
    src: url('fonts/Bebas_Neue_Cyrillic_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('fonts/Open_Sans_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#fundoAzulEscuro{
    background-color: #33658a;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Página padrão*/
body {
    background-color: #86bbd8;
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Itens Padrão das páginas*/
.headerAzulLogo {
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: #33658a;
    border-bottom-right-radius: 70px;
    display: flex;
    justify-content: center;
}

.headerAzulLogo img {
    height: 70px;
}

.headerAzulVoltar{
    padding: 7px 15px;
    padding-top: 25px;
    background-color: #33658a;
}
.headerAzulVoltar img{
    height: 30px;
}

.espacoFooterAzul{
    height: 15%;
}

.footerAzulArredondado{
    background-color: #33658a;
    border-top-left-radius: 70px;
    height: 12%;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.espacoFooterAzulLogo{
    height: 110px;
}

.footerAzulLogo{
    background-color: #33658a;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.footerAzulLogo img{
    height: 100px;
}

.espacoFooterPrincipal{
    height: 70px;
}

.headerPrincipal{
    background-color: #33658a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 15px;
    padding-top: 25px;
}
.headerPrincipal img{
    height: 40px;
}

.footerPrincipal{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footerPrincipal .navbar{
    background-color: #33658a;
    justify-content: center;
    display: flex;
}
.navbar img{
    margin: 5px 17px;
    width: 50px;
}
.navbar a{
    width: 25%;
    display: flex;
    justify-content: center;
}
.barraLinhaSelecao{
    background-color: #2f4858;
}
.linhaAmarela{
    background-color: #f6ae2d;
    padding-top: 5px;
    
}
.linhaPos1{
    margin-right: 75%;
}
.linhaPos2{
    margin-left: 25%;
    margin-right: 50%;
}
.linhaPos3{
    margin-left: 50%;
    margin-right: 25%;
}
.linhaPos4{
    margin-left: 75%;
}

/*Página de Login*/
.tituloLogin {
    margin-top: 10px;
    font-size: 50px;
    font-family: BebasNeue, Arial, Helvetica, sans-serif;
    color: #2f4858;
    text-align: center;
}

.formularioLogin {
    display: grid;
    padding: 55px 15px 15px 15px;
    text-align: center;
    font-size: 20px;
}

.formularioLogin input{
    margin: 10px 0;
    padding: 15px;
    font-size: 20px;
    background-color: #33658a;
    border: none;
    border-radius: 30px;
    color: #86bbd8;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.formularioLogin input::placeholder{
    color: #86bbd8;
}

.formularioLogin a{
    color: black;
}

.formularioLogin button {
    margin-top: 30%;
    padding: 15px 0;
    font-size: 20px;
    background-color: #33658a;
    border: none;
    border-radius: 25px;
    color: #f6ae2d;
}

/*Página de carregamento*/

#tamanhoLogo {
    height: 200px;
    
}


/*Icone funcionario*/
#icone{
    height: 70px;
    padding-top: 20px;
    padding-left: 95px;
}

.textoCentral{
    color: #2f4858;
    text-align: center;
}

.central{
    padding-top: 30px;
    display: grid;
    justify-content: center;
}

#trocaPerfil{
    background-color: #33658a;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#informacoesPessoais{
    background-color: #33658a;
    border-radius: 20px;
    width: 311px;
    padding: 5px;
}

#senha{
    background-color:#2f4858;
    color: #f6ae2d;
    border-radius: 20px;
    width: 300px;
    height: 20px;
}

#dataNascimentoDia{
    height: 30px;
    width: 50px;
    background-color:#2f4858;
    color: #f6ae2d;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    margin-left: 10px;
}

.dataNascimentoMesAno{
    height: 30px;
    width: 50px;
    background-color:#2f4858;
    color: #f6ae2d;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    margin-left: 50px;
}

/*Página de configurações*/
#tituloConfig{
    color: #2f4858;
    text-align: center;
    margin-top: 200px;
}

#quadradoGeralConfig{
    background-color: #33658a;
    margin: 10px 20px;
    padding: 4px;
    border-radius: 15px;
}

.quadradosOpcoesConfig{
    background-color: #2f4858;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
}

.quadradosOpcoesConfig p{
    color: #fdbe4d;
    text-decoration: none;
    font-size: 20px;
}
.iconeConfigTamanho{
    height: 50px;
    width: 50px;
}

.flex{
    display: flex;
}

#ladoEsquerdo{
    background-color: #33658a;
    border-radius: 15px;
    padding: 1px 40px;
    margin-top: 10px;
    margin-left: 200px;
    height: 50px;
    font-size: 15px;
    color: #86bbd8;
}

#salvar{
    color: #86bbd8;
}

/*Página fale conosco*/

#primeiroQuadrado{
    background-color: #33658a;
    margin: 10px 20px;
    padding: 4px;
    border-radius: 15px;
    color: #f6ae2d;
    display:grid;
   
}

.segundoQuadrado{
    background-color: #2f4858;
    align-items: center;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 15px;
    color: #f6ae2d;
    display:flex;
    padding: 20px;
}

#tituloFaleConosco{
    text-align: center;
}
/* Verificação de duas etapas*/

#centralizacaoIconeVerificacao2Etapas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#iconeVerificacao2Etapas{
    width: 190px;
}

#imagemDigitarEmail{
    width: 380px;
    margin-left: 20px;
    margin-bottom: -52px;
}

#imagemProxima{
    width: 200px;
    padding: 20px;
    margin-left: 170px;
}

#centralizacaoTextoVerificacao2Etapas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#botaoDigitarEmail{
    margin-left: 35px;
    margin-top: -20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #86bbd8;
    width: 340px;
    height: 42px;
    font-size: 20px;
    border-style: none;
}

.campoNumeroVerificacao2Etapas{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-style: solid;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #86bbd8;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#textoVerificacao2EtapasConfirmacao{
    font-size: 20px;
    text-align: center;
}



/* Página Dashboard */

.secaoDashboard{
    background-color: #33658a;
    border-radius: 15px;
    margin: 5px 10px;
    padding: 7px;
    text-align: center;
}
.secaoDashboard h2{
    color: #f6ae2d;
    margin-top: 0;
}

.informacoesHorarios{
    background-color: #2f4858;
    color: #86bbd8;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10px;
}
.informacoesHorarios img{
    width: 30px;
}
.textoSecundarioHorarios{
    font-size: 17px;
    margin: 0;
}
.textoPrincipalHorarios{
    font-size: 25px;
    margin: 0;
}
.conteudoEsquerda{
    text-align: left;
    margin-left: 10px;
    width: 45%;
}
.conteudoCentro{
    width: 10%;
}
.conteudoDireita{
    text-align: right;
    margin-right: 10px;
    width: 45%;
}
.verTudoBotao{
    text-decoration: none;
    color: #f6ae2d;
    font-weight: bold;
    background-color: #2f4858;
    font-size: 20px;
    padding: 1px 40px;
    border: solid 2px #f6ae2d;
    border-radius: 20px;
}
.alinharDireita{
    text-align: right;
}

.statusTrensInfos{
    display: flex;
}
.statusTrensInfos img{
    height: 20px;
}
.statusTrensInfos div{
    width: 25%;
    display: flex;
}

/*Página dúvidas*/

.centro{
   text-align: center;
}

#quadradoInvisivel{
    background-color: #2f4858;
    color: #f6ae2d;
    width: 100%;
    height: 200px;
}

.direita{
    text-align: right;
}


#tituloConfigAdmin{
    color: #2f4858;
    text-align: center;
    margin-top: 75px;
}

.cadastroFuncionario{
    background-color: #33658a;
    border: none;
    border-bottom: solid 2px #2f4858;
    width: 97%;
    margin: 1%;
    color: black;
    font-size: 20px;
    padding-top: 30px;
}
input:focus{
    box-shadow: 0 0 0;
    border: 0 none;
    outline: 0;
}

.tituloConfigs{
    color: #2f4858;
    text-align: center;
    margin-top: 100px;
}

#cadastrar{
    align-items: center;
    border-radius: 15px;
    background-color: #2f4858;
}

.iconeCadastrarFuncionarioTamanho{
    height: 50px;
    width: 50px;
}
/*Página idioma*/

#pQuadrado{
    background-color: #33658a;
    margin: 10px 20px;
    padding: 4px;
    border-radius: 15px;
    color: #f6ae2d;
   
}


